@model  KaoAKao2._0.Web.Models.CourseDetail

@{
    ViewBag.Title = "课程详情";
    ViewBag.pageIndex = 0;
}
<script src="@Url.Content("~/modules/home/js/example.js")" type="text/javascript"></script>
<script src="@Url.Content("~/modules/home/js/click_box.js")" type="text/javascript"></script>
<script src="@Url.Content("~/modules/home/js/tabbed_pages.js")" type="text/javascript"></script>
<div class="player">
  <div class="play-summary">
    <p><a href="#">课程</a><span>></span><a href="#">@Model.course.CName</a><span>></span><a href="#">@Model.course.CourseName</a></p>
    <div class="fix">
      <h1><a href="#">@Model.course.Keywords:</a>@Model.course.CourseName-<span id="s_lessonCountE">P1</span><span  id="s_lessonCountZ">（01）</span></h1>
    </div>
  </div>
  <div class="play-main">
    <div class="play-container clearfix">
        <script src='http://static.polyv.net/file/polyvplayer_v2.0.min.js'></script>
        <div class="play-box" id='lesson_playBox'></div>
      <div class="play-list">
        <div class="p-l-up clearfix">
          <h2>讲师介绍</h2>
        </div>
        <div class="p-l-down">
          <h2>课程列表</h2>
          <div class="p-l-inner clearfix">
          </div>
        </div>
      </div>
    </div>
    <div class="play-foot">
      <div class="p-f-main clearfix">
        <a href="javascript:void(0);" class="pra" BindType="2"><i></i><div id="s_lessonPraiseCount">@Model.course.PraiseCount</div></a>
      @*  <a href="javascript:void(0);" class="sub" BindType="3"><i></i>订阅</a>*@
        <a href="javascript:void(0);" class="col" BindType="1"><i></i>收藏</a>
      </div>
    </div>
  </div>
  <div class="play-comments toppt3 clearfix">
    <div class="l-c-left">
      <dl class="l-c-js">
        <dt>课程介绍</dt>
        <dd>
            <div id="d_lessonDes"></div>
        </dd>
      </dl>
      <div id="gallery" class="clearfix">
        <div class="now" title="Comment" id="d_comment"><span>评论</span></div>
        <div class="old" title="Answer" id="d_answer"><span>问答</span></div>
      </div>
      <div id="Comment" class="reveal">
        <div class="p20">
          <div class="comment-top">
            <textarea id="txt_commentMsg" onfocus="if(value=='快来吐槽'){value=''}" onblur="if (value ==''){value='快来吐槽'}" class="comment-area">快来吐槽</textarea>
            <div class="c-t-tj clearfix">
              <div class="l clearfix">
               <div class="share-left">同步到：</div>
               <ul class="share-right clearfix">
                 <li><a href="#" class="sina"  title="微博账号">微博</a></li>
                 <li><a href="#" class="qq" title="QQ账号">QQ</a></li>
                 <li><a href="#" class="douban" title="豆瓣账号">豆瓣</a></li>
                 <li><a href="#" class="renren" title="人人账号">人人</a></li>
               </ul>
              </div>
              <div class="r">
                <input type="button" value="提交" id="btn_addComment" class="comment-btn" />
              </div>
            </div>
          </div>
          <div class="comment-main">
            <ul>
            </ul>
          </div>
          <div class="comment-end">
            <input type="button" value="评论" class="comment-btn3" />
          </div>
        </div>
      </div>
      <div id="Answer" class="conceal">
        <dl class="quiz-top">
          <dt>常见问题</dt>
          <dd><a href="#">Re: 在线播放视</a></dd>
          <dd><a href="#">Re: iPad mini上有没有能用的flash插件？</a></dd>
          <dd><a href="#">Re: flash player用不了，有什么软件可以代替？</a></dd>
          <dd><a href="#">Re: osx10.9更新后看不了flash视频</a></dd>
        </dl>
        <div class="quiz-down">
          <div class="quiz-bt">提出问题</div>
          <div class="p20">
            <textarea id="txt_answerMsg" onfocus="if(value=='提出你的问题，大家来帮你答疑解惑..'){value=''}" onblur="if (value ==''){value='提出你的问题，大家来帮你答疑解惑..'}" class="comment-area">提出你的问题，大家来帮你答疑解惑..</textarea>
            <div class="c-t-tj clearfix">
              <div class="l clearfix">
               <div class="share-left">同步到：</div>
               <ul class="share-right clearfix">
                 <li><a href="#" class="sina"  title="微博账号">微博</a></li>
                 <li><a href="#" class="qq" title="QQ账号">QQ</a></li>
                 <li><a href="#" class="douban" title="豆瓣账号">豆瓣</a></li>
                 <li><a href="#" class="renren" title="人人账号">人人</a></li>
               </ul>
              </div>
              <div class="r">
                <div class="quiz-reward">
                  <a href="#">悬赏 5</a>
                </div>
                <input type="button" value="提交" id="btn_addAnswer" class="comment-btn" />
              </div>
            </div>
          </div>
        </div>
        <div class="quiz-main">
          <ul>
         @*   <li class="quiz_children">
              <div class="q-c-main clearfix">
                <div class="q-c-num">41</div>
                <div class="q-c-doc">
                  <div class="q-c-bt">
                    丰富的金融在线课程和学习资源合集<span>10</span>
                  </div>
                  <p>管理会计是一种深度参与管理决策..</p>
                </div>
                <div class="q-c-time">2015-01-01</div>
                <div class="q-c-ico"><img src="/modules/home/images/test.jpg" alt=""/><span>6</span></div>
              </div>
              <dl class="q-c-nr clearfix">
                <dt class="tinct1">提问</dt>
                <dd>管理会计是一种深度参与管理决策、制订计划与绩效管理系统、提供财务报告与控制方面的专业知识以及帮助	管理者制定并实施组织战略的职业。不同于传统的财务会计，管理会计服务于企业内部各级管理者，面向企业未来发展，通过分析解读财务数据，从财务角度为企业经营决策提供可行性方案。</dd>
                <dt class="tinct2">回答</dt>
                <dd>
                  <p class="clearfix"><span class="l">共6条</span><span class="r">0/500</span></p>
                  <textarea class="q-c-area"></textarea>
                  <div class="q-c-dw">
                    <input type="button" value="提交回答" class="q-c-btn" />
                  </div>
                </dd>
                <dt><img src="/modules/home/images/test.jpg" alt=""/></dt>
                <dd class="q-c-cont clearfix">
                  <div class="q-c-message">
                    <p>对于企业家而言，毕竟，做好企业才是第一位的，你“秀”的再好也不如股票上涨一毛钱，所以说，专业的人做专业的事儿，“秀”，这个活还是留给专业模特去做吧。</p>
                    <a href="#">120</a>
                  </div>
                  <div class="r">2015-01-01  23：12</div>
                </dd>
                <dt><img src="/modules/home/images/test.jpg" alt=""/></dt>
                <dd class="q-c-cont clearfix">
                  <div class="q-c-message">
                    <p>对于企业家而言，毕竟，做好企业才是第一位的，你“秀”的再好也不如股票上涨一毛钱，所以说，专业的人做专业的事儿，“秀”，这个活还是留给专业模特去做吧。</p>
                    <a href="#">120</a>
                  </div>
                  <div class="r">2015-01-01  23：12</div>
                </dd>
              </dl>
            </li>*@
          </ul>
        </div>
      </div>
    </div>
    <div class="l-c-right">
      <div><img src="/modules/home/images/play_01.jpg" alt=""/></div>
      <dl class="correlate">
        <dt>相关课程</dt>
      </dl>
    </div>
  </div>
</div>
<input type="hidden" id="txt_courseID" value="@ViewBag.CourseID" />
<input type="hidden" id="txt_LessonID" value="" />
<input type="hidden" id="txt_teacherID" value="@ViewBag.TeacherID" />
<script type="text/javascript">
    $(function () {
        seajs.use(["home/js/coursedetail.js"], function (CourseDetail) {
            CourseDetail.init();
        });
    });

</script>

