@model  KaoAKao2._0.Web.Models.CourseDetail

@{
    ViewBag.Title = "课程详情";
    ViewBag.pageIndex = 0;
}
<script src="@Url.Content("~/modules/home/js/example.js")" type="text/javascript"></script>
<script src="@Url.Content("~/modules/home/js/click_box.js")" type="text/javascript"></script>
<script src="@Url.Content("~/modules/home/js/tabbed_pages.js")" type="text/javascript"></script>

<div class="player">
  <div class="play-summary">
    <p><a href="#">课程</a><span>></span><a href="#">@Model.course.CName</a><span>></span><a href="#">@Model.course.CourseName</a></p>
    <div class="fix">
      <h1><a href="#">@Model.course.CourseName:</a><span id="s_lessonName"></span>-<span id="s_lessonCountE">P1</span><span  id="s_lessonCountZ">（01）</span></h1>
    </div>
  </div>
  <div class="play-main">
    <div class="play-container clearfix">
        <script src='http://static.polyv.net/file/polyvplayer_v2.0.min.js'></script>
        <div class="play-box" id='lesson_playBox'></div>
      <div class="play-list">
        <div class="p-l-up clearfix">
          <h2>讲师介绍</h2>
        </div>
        <div class="p-l-down">
          <h2>课程列表</h2>
          <div class="p-l-inner clearfix">
          </div>
        </div>
      </div>
    </div>
    <div class="play-foot">
      <div class="p-f-main clearfix">
        <a href="javascript:void(0);" class="pra" BindType="2"><i></i><div id="s_coursePraiseCount">@Model.course.PraiseCount</div></a>
      @*  <a href="javascript:void(0);" class="sub" BindType="3"><i></i>订阅</a>*@
        <a href="javascript:void(0);" class="col" BindType="1"><i></i>收藏</a>
      </div>
    </div>
  </div>
  <div class="play-comments toppt3 clearfix">
    <div class="l-c-left">
      <dl class="l-c-js">
        <dt>课程介绍</dt>
        <dd>
            <div id="d_lessonDes"></div>
        </dd>
      </dl>
      <div id="gallery" class="clearfix">
        <div class="now" title="Comment" id="d_comment"><span>评论</span></div>
        <div class="old" title="Answer" id="d_answer"><span>问答</span></div>
      </div>
      <div id="Comment" class="reveal">
        <div class="p20">
          <div class="comment-top">
            <textarea id="txt_commentMsg" onfocus="if(value=='快来吐槽'){value=''}" onblur="if (value ==''){value='快来吐槽'}" class="comment-area">快来吐槽</textarea>
            <div class="c-t-tj clearfix">
              <div class="l clearfix">
               <div class="share-left">同步到：</div>
               <ul class="share-right clearfix">
                 <li><a href="#" class="sina"  title="微博账号">微博</a></li>
                 <li><a href="#" class="qq" title="QQ账号">QQ</a></li>
                 <li><a href="#" class="douban" title="豆瓣账号">豆瓣</a></li>
                 <li><a href="#" class="renren" title="人人账号">人人</a></li>
               </ul>
              </div>
              <div class="r">
                <input type="button" value="提交" id="btn_addComment" class="comment-btn" />
              </div>
            </div>
          </div>
          <div class="comment-main">
            <ul name="ul_comment_main">
            </ul>
          </div>
          <div class="comment-end">
            <input type="button" value="评论" class="comment-btn3" />
          </div>
        </div>
      </div>
      <div id="Answer" class="conceal">
        <dl class="quiz-top">
          <dt>常见问题</dt>
          <dd><a href="#">Re: 在线播放视</a></dd>
          <dd><a href="#">Re: iPad mini上有没有能用的flash插件？</a></dd>
          <dd><a href="#">Re: flash player用不了，有什么软件可以代替？</a></dd>
          <dd><a href="#">Re: osx10.9更新后看不了flash视频</a></dd>
        </dl>
        <div class="quiz-down">
          <div class="quiz-bt">提出问题</div>
          <div class="p20">
            <textarea id="txt_answerMsg" onfocus="if(value=='提出你的问题，大家来帮你答疑解惑..'){value=''}" onblur="if (value ==''){value='提出你的问题，大家来帮你答疑解惑..'}" class="comment-area">提出你的问题，大家来帮你答疑解惑..</textarea>
            <div class="c-t-tj clearfix">
              <div class="l clearfix">
               <div class="share-left">同步到：</div>
               <ul class="share-right clearfix">
                 <li><a href="#" class="sina"  title="微博账号">微博</a></li>
                 <li><a href="#" class="qq" title="QQ账号">QQ</a></li>
                 <li><a href="#" class="douban" title="豆瓣账号">豆瓣</a></li>
                 <li><a href="#" class="renren" title="人人账号">人人</a></li>
               </ul>
              </div>
              <div class="r">
                <div class="quiz-reward">
                      <a href="javascript:void(0);" class="answer_count" aria-disabled>悬赏 <span id="s_answer_count">5</span></a>
                      <ul class="clearfix e-s-nr hide" id="ul_cOrder">
                          <li BindCount="5"><a href="javascript:void(0);">5</a></li>
                          <li BindCount="10"><a href="javascript:void(0);" >10</a></li>
                          <li BindCount="20"><a href="javascript:void(0);" >20</a></li>
                           <li BindCount="30"><a href="javascript:void(0);" >30</a></li>
                          <li BindCount="50"><a href="javascript:void(0);" >50</a></li>
                          <li BindCount="100"><a href="javascript:void(0);" >100</a></li>
                    </ul>
                </div>
                <input type="button" value="提交" id="btn_addAnswer" class="comment-btn" />
              </div>
            </div>
          </div>
        </div>
        <div class="quiz-main">
          <ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="l-c-right">
      <div><img src="/modules/home/images/play_01.jpg" alt=""/></div>
      <dl class="correlate">
        <dt>相关课程</dt>
      </dl>
    </div>
  </div>
</div>
<input type="hidden" id="txt_courseID" value="@ViewBag.CourseID" />
<input type="hidden" id="txt_LessonID" value="" />
<input type="hidden" id="txt_teacherID" value="@ViewBag.TeacherID" />
<script type="text/javascript">
    $(function () {
        seajs.use(["home/js/coursedetail.js"], function (CourseDetail) {
            CourseDetail.init();
        });
    });

</script>

